{% extends 'base.html' %}
{% block title %}
    register hostel Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <br><br><br>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>
            {{ form.hs_name.label() }}
            {{ form.hs_name(class="form-control", placeholder="Hostel Name") }}

            {{ form.hs_address.label() }}
            {{ form.hs_address(class="form-control", placeholder="address") }}

            {{ form.hs_contact.label() }}
            {{ form.hs_contact(class="form-control", placeholder="Contact Number") }}

            {{ form.hs_rent.label() }}
            {{ form.hs_rent(class="form-control", placeholder="Rent") }}

            {{ form.hs_description.label() }}
            {{ form.hs_description(class="form-control", placeholder="Description") }}

            {{ form.rooms.label() }}
            {{ form.rooms(class="form-control", placeholder="Rooms") }}

            {{ form.caution.label() }}
            {{ form.caution(class="form-control", placeholder="Caution Deposit") }}

            {{ form.curfew.label() }}
            {{ form.curfew(class="form-control", placeholder="Curfew") }}

            {{ form.maps_link.label() }}
            {{ form.maps_link(class="form-control", placeholder="Maps Link") }}

            {{ form.type.label() }}
            {{ form.type(class="form-control", placeholder="Girls or Boys") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br><br><br><br>
        </form>
    </div>
</body>
{% endblock %}
